#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.browser-css  {
  text-align: left !important;
  background-color: aliceblue;
  padding: 15px;
}

.bio {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limits bio to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 3rem; /* Set a fixed height for 2 lines of text */
}

.profile-card {
  width: 100%; /* Set the card to take full width of the container */
  max-width: 350px; /* Increase the card width to a bit more */
}



.base-medium {
  @apply text-[16px] font-medium leading-[140%];
}

.small-medium {
  @apply text-[14px] font-medium leading-[140%];
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
